<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emmanuel.bobbyda.augmentedrealitytest1">

    <!-- "AR Required" apps must declare minSdkVersion ≥ 24 -->
    <uses-sdk android:minSdkVersion="24" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Indicates that the app requires ARCore ("AR Required"). Ensures the app is
         visible only in the Google Play Store on devices that support ARCore.
    -->
    <uses-feature android:name="android.hardware.camera.ar" />

    <application>
        …
        <!-- Indicates that the app requires ARCore ("AR Required"). Causes the Google
             Play Store to download and install Google Play Services for AR when the
             app is installed.
        -->
        <meta-data android:name="com.google.ar.core" android:value="required" />
    </application>
</manifest>
